logs/
**/node_modules/
**/.DS_Store
.idea/
.vscode/
.env
*.sqlite3
__pycache__/
*.aux
*.log
*.pickle
*.db
*.rdb
*.pid
*.toc
*.out
*.pickle
celerybeat-schedule                                                                     
.ipynb_checkpoints
venv/
uploads/
.bash_history
.bashrc
.cache
.local
.profile
.pythonstartup.py
.viminfo
.vimrc
.virtualenvs
README.txt